<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-3">

            <div class="pass-panel panel panel-default">
                <div class="panel-body">

                    <h1 class="text-center">Primeiro Acesso</h1>

                    <div class="am-pass-change-intro text-justify">
                        <span>
                            Olá, Seja bem vindo ao <b>Ajude Mais</b>.
                                Este é seu primeiro acesso, para continuar você deve alterar a senha padrão,
                                fornecendo uma nova para seus próximos acessos.
                        </span>
                    </div>

                    <form class="am-pass-change-form" name="passForm" role="form" ng-submit="passForm.$valid && vm.change()" novalidate>

                        <div class="form-group has-feedback"
                             ng-class="{ 'has-error': passForm.$submitted && passForm.nSenha.$invalid }">
                            <label class="control-label">Nova senha</label>
                            <input id="nSenha" ng-maxlength="12" ng-minlength="4" class="form-control"
                                   ng-model="vm.nSenha"
                                   name="nSenha" type="password" required>

                            <div ng-show="passForm.$submitted && passForm.nSenha.$error.required" class="help-block">
                                A senha deve ser informada
                            </div>
                            <div ng-show="passForm.$submitted && passForm.nSenha.$error.minlength" class="help-block">
                                A senha deve está entre 4 e 12 caracteres
                            </div>
                            <div ng-show="passForm.$submitted && passForm.nSenha.$error.maxlength" class="help-block">
                                A senha deve está entre 4 e 12 caracteres
                            </div>
                        </div>

                        <div class="form-group has-feedback"
                             ng-class="{ 'has-error': passForm.$submitted && passForm.rSenha.$invalid }">
                            <label class="control-label">Confirmação de senha</label>
                            <input id="rSenha" minlength="4" maxlength="20" class="form-control" ng-model="vm.rSenha"
                                   name="rSenha" type="password" required>

                            <div ng-show="passForm.$submitted && passForm.rSenha.$error.required" class="help-block">
                                A senha deve ser informada
                            </div>
                            <div ng-show="passForm.$submitted && passForm.rSenha.$error.minlength" class="help-block">
                                A senha deve está entre 4 e 12 caracteres
                            </div>
                            <div ng-show="passForm.$submitted && passForm.rSenha.$error.maxlength" class="help-block">
                                A senha deve está entre 4 e 12 caracteres
                            </div>
                            <div ng-if="vm.error" class="am-help-block">{{vm.error}}</div>

                        </div>
                        <div class="am-pass-change-btn">
                            <input id="btnLogin" type="submit" class="btn btn-lg btn-primary btn-block" value="Concluir"/>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>