<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-university"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Instituições</span>
                <span class="info-box-number">0</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa fa-heart"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Doações em Tramite</span>
                <span class="info-box-number">{{vm.countDonativos}}</span>
            </div>
        </div>
    </div>

    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-hashtag"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Campanhas</span>
                <span class="info-box-number">{{vm.countCampanhas}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-id-card-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Mensageiros</span>
                <span class="info-box-number">{{vm.countMensageiros}}</span>
            </div>
        </div>
    </div>
</div>
