<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa fa-heart"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Doações</span>
                <span class="info-box-number">{{vm.countDonativos}}</span>
            </div>
        </div>
    </div>

    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-hashtag"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Campanhas</span>
                <span class="info-box-number">{{vm.countCampanhas}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-id-card-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Mensageiros</span>
                <span class="info-box-number">{{vm.countMensageiros}}</span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-tags"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Itens doáveis</span>
                <span class="info-box-number">{{vm.countItens}}</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <uib-accordion>
            <div uib-accordion-group class="box" is-open="vm.statusPanelLineChart">
                <uib-accordion-heading>
                    Doações nos últimos 30 dias
                    <i class="pull-right glyphicon"
                       ng-class="{'fa fa-chevron-down': vm.statusPanelLineChart, 'fa fa-chevron-right': !vm.statusPanelLineChart}"></i>
                </uib-accordion-heading>

                <div class="box-body">
                    <div class="chart">
                        <canvas id="lineInst" class="chart chart-line" chart-data="vm.dataDoacoesInstPeriod"
                                options="vm.options" chart-legend="true"
                                chart-labels="vm.labelsDoacoesInstPeriod" chart-series="vm.seriesDoacoesPeriod">
                        </canvas>
                    </div>
                </div>
            </div>
        </uib-accordion>
    </div>
</div>

<div class="row">

    <div class="col-md-12">
        <uib-accordion>
            <div uib-accordion-group class="box" is-open="vm.statusPanelCampanhas">
                <uib-accordion-heading>
                    Campanhas
                    <i class="pull-right glyphicon"
                       ng-class="{'fa fa-chevron-down': vm.statusPanelCampanhas, 'fa fa-chevron-right': !vm.statusPanelCampanhas}"></i>
                </uib-accordion-heading>

                <div class="box-body no-padding">

                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>Campanha</th>
                                <th>Término</th>
                                <th>Percentual da campanha</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="campanhaMeta in vm.campanhasMetasProgres">
                                <td>{{campanhaMeta.campanha.descricao}}</td>
                                <td><span class="label label-success">{{campanhaMeta.campanha.dataFim | date : "dd/MM/yyyy"}}</span>
                                </td>
                                <td>
                                    <div class="progress-group">
                                        <span class="progress-number"><b> {{campanhaMeta.percentualAtingido}} </b>%</span>

                                        <div class="progress sm">
                                            <div class="progress-bar progress-bar-aqua"
                                                 style="width: {{campanhaMeta.percentualAtingido}}%;"></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </uib-accordion>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <uib-accordion>
            <div uib-accordion-group class="box" is-open="vm.statusPanelRanking">
                <uib-accordion-heading>
                    Top Mensageiros
                    <i class="pull-right glyphicon"
                       ng-class="{'fa fa-chevron-down': vm.statusPanelRanking, 'fa fa-chevron-right': !vm.statusPanelRanking}"></i>
                </uib-accordion-heading>

                <div class="box-body no-padding">

                    <ul class="users-list">
                        <li ng-repeat="mr in vm.rankingMensageiros">
                            <img ng-show="!mr.image" class="img-circle"
                                 ng-src="{{vm.mockImage}}">
                            <img class="img-circle"
                                 data-ng-src="data:{{mr.ranking.mensageiro.mensageiro.foto.contentType}};base64,{{mr.image}}">

                            <p class="users-list-name" href="#"><span class="badge">{{$index + 1}}</span>
                                {{mr.ranking.mensageiro.mensageiro.nome}}</p>
                            <span class="users-list-date">{{mr.ranking.mensageiro.instituicaoCaridade.nome}}</span>
                            <span class="users-list-number">{{mr.ranking.quantidadeDoacoes}} Coletas Realizadas</span>
                        </li>
                    </ul>
                </div>
            </div>
        </uib-accordion>
    </div>
    <div class="col-md-6">
        <uib-accordion>
            <div uib-accordion-group class="box" is-open="vm.statusPanelTimeline">
                <uib-accordion-heading>
                    Últimas Doações
                    <i class="pull-right glyphicon"
                       ng-class="{'fa fa-chevron-down': vm.statusPanelTimeline, 'fa fa-chevron-right': !vm.statusPanelTimeline}"></i>
                </uib-accordion-heading>

                <div class="box-body no-padding">
                    <ul class="timeline">

                        <li>
                            <i class="fa fa-circle bg-gray"></i>
                            <br/>
                        </li>

                        <li ng-repeat="donativo in vm.donativosTimeline"><span
                                class="{{vm.getEtadosDonativo(donativo.estadosDaDoacao) | status}}">{{vm.getEtadosDonativo(donativo.estadosDaDoacao) == 'NAO_ACEITO' ? 'NÃO ACEITO' : vm.getEtadosDonativo(donativo.estadosDaDoacao) == 'CANCELADO_POR_MENSAGEIRO' ? 'CANCELADO' : vm.getEtadosDonativo(donativo.estadosDaDoacao)}}</span>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-tag"></i> {{donativo.categoria.nome}}</span>
                                <h3 class="timeline-header"><a ng-click="vm.openDetails(donativo)">{{donativo.nome}}</a>
                                </h3>

                                <div ng-show="donativo.descricao" class="timeline-body">
                                    <div class="row">
                                        {{donativo.descricao}}
                                    </div>
                                    <br/>

                                    <div ng-show="donativo.mensageiro" class="user-block">
                                        <img class="img-responsive img-circle"
                                             ng-src="{{vm.mockImage}}">

                                        <span class="username">
                                            Coleta: {{donativo.mensageiro.nome}}
                                        </span>

                                        <span class="description">{{donativo.mensageiro.telefone}} - {{donativo.mensageiro.conta.email}}</span>
                                        <span class="description">{{mensageiroAss.mensageiro.telefone}}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </uib-accordion>
    </div>
</div>
