<div id="sidebar-wrapper">

    <ul class="sidebar">
        <li class="sidebar-main">
            <a ng-click="toggle()">
                <img alt="AjudeMais" src="content/img/am-icon-name (3).png"/>
                <span class="menu-icon fa fa-bars"></span>
            </a>
        </li>

        <li class="sidebar-list" ui-sref-active="active"><a ui-sref="home">
            <i class="menu-icon fa fa-home fa-fw"></i> Home</a>
        </li>

        <li class="sidebar-list" access-view="ROLE_ADMIN"><a ui-sref="home.instituicao">
            <i class="menu-icon fa fa-university fa-fw"></i>Instituições</a>
        </li>
    </ul>

    <div class="sidebar-footer">
        <div class="col-xs-6">
            <a href="#"> <i class="fa fa-info-circle"></i>
                Sobre
            </a>
        </div>
        <div class="col-xs-6">
            <a href="#"> <i class="fa fa-question-circle"></i>
                Ajuda
            </a>
        </div>
    </div>
</div>