<div class="row">
    <div class="col-lg-12">
        <div class="box box-primary">
            <div class="box-header">
                <h2 class="box-title">Informações Gerais</h2>
            </div>

            <div class="row box-topic">
                <div class="col-lg-6">
                    <div class="table-responsive am-no-border-table">
                        <table class="table">
                            <tr>
                                <th width="30%">Nome da Intituição</th>
                                <td>{{vm.instituicao.nome}}</td>
                            </tr>
                            <tr>
                                <th width="30%">Descrição</th>
                                <td>{{vm.instituicao.descricao}}</td>
                            </tr>
                            <tr>
                                <th>CPF/CNPJ</th>
                                <td>{{vm.instituicao.documento | brCpfCnpj}}</td>
                            </tr>
                            <tr>
                                <th>Telefone</th>
                                <td>{{vm.instituicao.telefone | brPhoneNumber}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h2 class="box-title">Endereço</h2>
            </div>
            <div>
                <div class="row box-topic">
                    <div class="col-lg-6">
                        <div class="table-responsive am-no-border-table">
                            <table class="table">
                                <tr>
                                    <th width="30%">Logradouro</th>
                                    <td>{{vm.instituicao.endereco.logradouro}}</td>
                                </tr>
                                <tr>
                                    <th>Número</th>
                                    <td>{{vm.instituicao.endereco.numero}}</td>
                                </tr>
                                <tr>
                                    <th>Bairro</th>
                                    <td>{{vm.instituicao.endereco.bairro}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="table-responsive am-no-border-table">
                            <table class="table">
                                <tr ng-show="!!vm.instituicao.endereco.complemento">
                                    <th width="30%">Completamento</th>
                                    <td>{{vm.instituicao.endereco.complemento}}</td>
                                </tr>
                                <tr>
                                    <th>Localidade</th>
                                    <td>{{vm.instituicao.endereco.localidade}}</td>
                                </tr>
                                <tr>
                                    <th>UF</th>
                                    <td>{{vm.instituicao.endereco.uf}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="box box-primary">
            <div class="box-header">
                <h2 class="box-title">Conta</h2>
            </div>
            <div class="row box-topic">
                <div class="col-lg-6">
                    <div class="table-responsive am-no-border-table">
                        <table class="table">
                            <tr>
                                <th width="30%">E-mail</th>
                                <td>{{vm.instituicao.conta.email}}</td>
                            </tr>
                            <tr>
                                <th>Nome de Usuário</th>
                                <td>{{vm.instituicao.conta.username}}</td>
                            </tr>
                            <tr>
                                <th>Senha alterada</th>
                                <td ng-if="vm.instituicao.conta.resetSenha">{{vm.instituicao.conta.resetSenha | date:
                                    "dd/MM/yyyy hh:mm:ss"}}
                                </td>
                                <td ng-if="!vm.instituicao.conta.resetSenha">Não alterada</td>
                            </tr>
                            <tr>
                                <th>Status da conta</th>
                                <td><span ng-class="{'label label-danger': !vm.instituicao.conta.ativo,
													'label label-success': vm.instituicao.conta.ativo}">{{vm.instituicao.conta.ativo? 'Ativa': 'Inativa'}}
                                </span></td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <button class="btn btn-default" type="button" ng-click="vm.voltar()">Voltar</button>
        </div>
    </div>

</div>
</div>