<div class="user pull-right">

	<div class="item dropdown" uib-dropdown>
		<a href="#" class="dropdown-toggle" uib-dropdown-toggle> 
			<i class="fa fa-user fa-lg"></i>
		</a>	
		<ul class="dropdown-menu dropdown-menu-right">
			<li class="dropdown-header">
				<center>
					Usuário<br>
					<b>Thanos o Titan louco</b>
				</center>
			</li>
			<div>
				<ul class="list-group">
				  <a class="list-group-item">
				  	Conta
				  </a>
				  <a class="list-group-item">
				  	Sair
				  </a>
				</ul>
			</div>
		</ul>
	</div>
	
	<div class="item dropdown" uib-dropdown>
		<a href="#" class="dropdown-toggle" uib-dropdown-toggle> <i
			class="fa fa-bell fa-lg"></i>
			 <span class="label label-warning number-notification">
			 	2
			 </span>
		</a>
		<ul class="dropdown-menu dropdown-menu-right">
			<li class="dropdown-header"><b>Notificações</b></li>
			<div>
				<ul class="list-group">
				  <a class="list-group-item">
				  	<span class="badge badge-default">Ninja Master</span>
				  	Franck subiu de nível
				  </a>
				  <a class="list-group-item">
				  	<span class="badge badge-default">Supreme Master</span>
				  	Franck subiu de nível
				  </a>
				</ul>
			</div>
		</ul>
	</div>
</div>
