<div class="row">
    <div class="col-lg-12">
        <div class="box box-primary">
            <div class="box-header">
                <h2 class="box-title">Informações Gerais</h2>
            </div>

            <div class="row box-topic">
                <div class="col-lg-6">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th width="30%">Nome da Intituição</th>
                                <td>{{vm.campanha.nome}}</td>
                            </tr>
                            <tr>
                                <th width="30%">Descrição</th>
                                <td>{{vm.campanha.descricao}}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>
                                    <span ng-class="{'label label-danger': !vm.campanha.status,
													'label label-success': vm.campanha.status}">{{vm.campanha.status? 'Ativo': 'Inativo'}}</span>
                                </td>
                            </tr>
                            <tr ng-show="vm.campanha.status">
                                <th>Data de término</th>
                                <td>{{vm.campanha.dataFim | date : "dd/MM/yyyy" }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h2 class="box-title">Itens Doáveis</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="well" ng-show="!vm.campanha.itensDoaveis.length">Nenhum item associado.</div>

                    <table class="table" ng-show="vm.campanha.itensDoaveis.length">
                        <thead>
                        <tr>
                            <th width="30%">Nome</th>
                            <th width="40%">Descrição</th>
                            <th width="10%">Ativo</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX" ng-repeat="campanha in vm.campanha.itensDoaveis">
                            <td>{{campanha.nome}}</td>
                            <td>{{campanha.descricao}}</td>
                            <td><span ng-class="{'label label-danger': !campanha.ativo,
													'label label-success': campanha.ativo}">{{campanha.ativo? 'Sim': 'Não'}}</span>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <button class="btn btn-default" type="button" ng-click="vm.previus()">Voltar</button>
        </div>
    </div>

</div>
</div>