<div class="modal-header">
	<button type="button" ng-click="vm.cancelar()" class="close" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{vm.titulo}}</h4>
</div>

<form name="doadorForm" ng-submit="doadorForm.$valid && vm.salvar()" role="form" novalidate>
	<div class="modal-body" id="modal-body">

		<div class="form-group am-required" ng-class="{'has-error': doadorForm.$submitted && doadorForm.nome.$invalid}">
			<label class="control-label">Nome</label>
			<input name="nome" ng-model="vm.doador.nome" type="text" class="form-control" required />
			
			<div ng-show="doadorForm.$submitted && doadorForm.nome.$invalid"
				class="help-block">Nome do doador deve ser informado.
			</div>
		</div>
		
	</div>
	
	<div class="modal-footer">
		<input class="btn btn-primary" type="submit" value="Salvar" />
		<button class="btn btn-warning" type="button" ng-click="vm.cancelar()">Cancelar</button>
	</div>
</form>

<div class="overlay" ng-show="vm.loading">
	<i class="fa fa-refresh fa-spin"></i>
</div>
