<div class="row">
    <div class="col-lg-12">
        <div class="box box-primary">
            <div class="box-header">
                <h2 class="box-title">Informações Gerais</h2>
            </div>

            <div class="row box-topic">
                <div class="col-lg-6">
                    <div class="table-responsive am-no-border-table">
                        <table class="table">
                            <tr>
                                <th width="30%">Nome da Campanha</th>
                                <td>{{vm.campanha.nome}}</td>
                            </tr>
                            <tr>
                                <th width="30%">Descrição</th>
                                <td>{{vm.campanha.descricao}}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>
                                    <span ng-class="{'label label-danger': !vm.campanha.status,
													'label label-success': vm.campanha.status}">{{vm.campanha.status? 'Ativo': 'Inativo'}}</span>
                                </td>
                            </tr>
                            <tr ng-show="vm.campanha.status">
                                <th>Data de término</th>
                                <td>{{vm.campanha.dataFim | date : "dd/MM/yyyy" }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h2 class="box-title">Metas da Campanha</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table" ng-show="vm.campanha.metas.length">
                        <thead>
                        <tr>
                            <th width="20%">Nome</th>
                            <th width="30%">Descrição</th>
                            <th width="20%">Quantidade</th>
                            <th width="10%">Un. Medida</th>
                            <th width="10%">% atingido</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX" ng-repeat="meta in vm.campanha.metas">
                            <td>{{meta.categoria.nome}}</td>
                            <td>{{meta.categoria.descricao}}</td>
                            <td>{{meta.quantidade}}</td>
                            <td>{{meta.unidadeMedida | capitalize}}</td>
                            <td>{{meta.percentualAtingido}}%</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <button class="btn btn-default" type="button" ng-click="vm.previus()">Voltar</button>
        </div>
    </div>

</div>
</div>