<div class="row">
    <div class="col-lg-12">
        <form name="campanhaForm" ng-submit="campanhaForm.$valid && vm.save()" role="form" novalidate>

            <div class="box box-primary">
                <div class="box-header with-border box-topic">
                    <h3 class="box-title">Informações gerais</h3>
                </div>

                <div class="row box-topic">
                    <div class="col-lg-12">
                        <div class="form-group"
                             ng-class="{ 'has-error': campanhaForm.$submitted && campanhaForm.nome.$invalid }">
                            <label class="control-label" for="nome">Nome</label>
                            <input name="nome" id="nome" ng-model="vm.campanha.nome" type="text"
                                   class="form-control" required/>

                            <div ng-show="campanhaForm.$submitted && campanhaForm.nome.$invalid"
                                 class="help-block">Nome deve ser informado
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group"
                             ng-class="{ 'has-error': campanhaForm.$submitted && campanhaForm.descricao.$invalid }">
                            <label class="control-label" for="nome">Descrição</label>
                            <textarea id="descricao" maxlength="220" name="descricao"
                                      ng-model="vm.campanha.descricao" class="form-control" rows="3" id="comment"
                                      required></textarea>
                            <div ng-show="campanhaForm.$submitted && campanhaForm.descricao.$invalid"
                                 class="help-block">A descrição deve ser informada
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="form-group col-sm-2">
                        <label class="control-label" for="status">Status</label> <br/>
                        <input bs-switch name="ativo" ng-model="vm.campanha.status" id="status"
                               switch-on-text="Ativa" switch-off-text="Inativa" switch-size="normal"
                               switch-off-color="danger" type="checkbox" class="form-control"/>
                    </div>

                    <div class="form-group col-sm-4"
                         ng-class="{ 'has-error': campanhaForm.$submitted && campanhaForm.tDateEnd.$invalid }">
                        <label class="control-label" for="tDateEnd">Término</label>
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   uib-datepicker-popup="dd/MM/yyyy"
                                   ng-model="vm.campanha.dataFim"
                                   date-after="vm.currentDate"
                                   date-or-equals="true"
                                   date-disabled="!vm.campanha.status"
                                   is-open="vm.dtpk"
                                   ng-disabled="!vm.campanha.status"
                                   datepicker-options="dateOptions"
                                   ng-required="vm.campanha.status"
                                   id="tDateEnd"
                                   name="tDateEnd"
                                   current-text="Hoje"
                                   clear-text="Limpar"
                                   close-text="Fechar"
                                   ng-click="vm.openDtpk()"/>

                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-disabled="!vm.campanha.status"
                                        ng-click="vm.openDtpk(1)">
                                    <i class="glyphicon glyphicon-calendar"></i>
					            </button>
				            </span>
                        </div>
                        <div ng-show="campanhaForm.$submitted && campanhaForm.tDateEnd.$invalid && !campanhaForm.tDateEnd.$error.dateAfter"
                             class="help-block">Data de término deve ser informada
                        </div>
                        <div ng-show="campanhaForm.$submitted && campanhaForm.tDateEnd.$error.dateAfter"
                             class="help-block">Término deve ser maior que a data atual
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-primary">
                <div class="box-header with-border box-topic">
                    <h3 class="box-title">Metas para campanha</h3>
                </div>
                <div class="form-group row box-topic">

                    <div class="col-sm-4" ng-class="{ 'has-error': !vm.isCtgNotEmpty}">
                        <div class="input-group col-sm-12">
                            <input ng-="vm.meta.categoria != undefined ? vm.isCtgNotEmpty = true : vm.isCtgNotEmpty = false"
                                   type="text" ng-model="vm.meta.categoria" class="form-control"
                                   ng-disabled="vm.isEditMeta"
                                   placeholder="Nome do Item"
                                   typeahead-on-select="vm.onSelect($model)"
                                   uib-typeahead="item as item.nome for item in vm.findByName($viewValue)"
                                   typeahead-loading="loadingMens"  typeahead-no-results="noResults"
                                   typeahead-editable="false"
                                   typeahead-template-url="app/components/partials/item-card-search.html">


                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" ng-click="vm.addItem()"
                                        uib-tooltip="Cadastro Rápido de Item Doável">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </span>
                        </div>
                        <div ng-show="!vm.isCtgNotEmpty"
                             class="help-block">O item deve ser informado.
                        </div>

                    </div>

                    <div class="col-sm-3" ng-class="{ 'has-error': !vm.isUnMediadeNotEmpty}">
                        <select ng-change="vm.meta.unidadeMedida != null ? vm.isUnMediadeNotEmpty = true: vm.isUnMediadeNotEmpty = false"
                                ng-model="vm.meta.unidadeMedida" class="form-control"
                                ng-disabled="vm.isEditMeta">
                            <option value="">Selecione</option>
                            <option value="UNIDADE">Unidade</option>
                            <option value="QUILOGRAMA">Quilograma</option>
                            <option value="LITRO">Litro</option>
                        </select>
                        <div ng-show="!vm.isUnMediadeNotEmpty"
                             class="help-block">A unidade de medida deve ser informada.
                        </div>
                    </div>

                    <div class="col-sm-2" ng-class="{ 'has-error': !vm.isQtdNotEmpty}">
                        <input ng-change="vm.meta.unidadeMedida != null ? vm.isQtdNotEmpty = true: vm.isQtdNotEmpty = false"
                               min="1" type="number" ng-model="vm.meta.quantidade"
                               class="form-control"
                               placeholder="Quantidade">

                        <div ng-show="!vm.isQtdNotEmpty"
                             class="help-block">Quantidade inválida.
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" ng-click="vm.setMeta(vm.meta)"
                                class="btn btn-primary"
                                uib-tooltip="{{vm.isEditMeta ? 'Editar meta': 'Adicionar Meta'}}">{{vm.isEditMeta ? "Editar" : "Adicionar"}}
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12" ng-show="vm.campanha.metas.length">
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="8%">#</th>
                                <th width="20%">Nome</th>
                                <th width="40%">Descrição</th>
                                <th width="20%">Quantidade</th>
                                <th width="20%">Un. Medida</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="odd gradeX" ng-repeat="meta in vm.campanha.metas">
                                <td>
                                    <button ng-disabled="meta.id != null" type="button" ng-click="vm.removeMeta(meta)"
                                            tooltip-placement="top" uib-tooltip="Remover Item"
                                            class="btn btn-xs btn-danger"
                                            access-view="ROLE_INSTITUICAO">
                                        <i class='fa fa-trash'></i>
                                    </button>
                                    <button type="button" ng-click="vm.editMeta(meta)"
                                            class="btn btn-xs btn-default"
                                            tooltip-placement="top" uib-tooltip="Editar Meta"
                                            access-view="ROLE_INSTITUICAO">
                                        <i class='fa fa-pencil'></i>
                                    </button>
                                </td>
                                <td>{{meta.categoria.nome}}</td>
                                <td>{{meta.categoria.descricao}}</td>
                                <td>{{meta.quantidade}}</td>
                                <td>{{meta.unidadeMedida | capitalize}}</td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" ng-show="!vm.campanha.metas.length">
                        <div class="well">Nenhuma meta adicionada.</div>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="{{vm.isEdited() ? 'Alterar':'Salvar' }}"/>
                <button class="btn btn-default" type="button" ng-click="vm.cancelar()">Cancelar</button>
            </div>
        </form>
    </div>
</div>
