<div class="user pull-right">

	<div class="item dropdown" uib-dropdown>
		<a href="#" class="dropdown-toggle" uib-dropdown-toggle> 
			<i class="fa fa-user fa-lg"></i>
		</a>	
		<ul class="dropdown-menu dropdown-menu-right">
			<li class="dropdown-header">
				<center>
					Usuário<br>
					<b>{{headerNotificationCtrl.usuario.username}}</b></li>
				</center>
			</li>
			<div>
				<ul class="list-group">
				  <a class="list-group-item">
				  	Conta
				  </a>
				  <a class="list-group-item" ng-click="headerNotificationCtrl.logout()">
				  	Sair
				  </a>
				</ul>
			</div>
		</ul>
	</div>

	<div class="item dropdown " uib-dropdown>
		<a href="#" class="dropdown-toggle" uib-dropdown-toggle> <i
			class="fa fa-bell fa-lg"></i>
			 <span ng-show="donativosNtlist.length>0" class="label label-warning number-notification">
			 	{{donativosNtlist.length}}
			 </span>
		</a>
		<ul class="dropdown-menu dropdown-menu-right scrollable-menu">
			<li class="dropdown-header"><b>Notificações de doações</b></li>
			<div>
				<ul class="list-group" ng-repeat="donativo in donativosNtlist">
				  <a ng-click="openDetailsDonativo(donativo)" class="list-group-item">
				  	<span  class="badge {{donativo.estadoAtivo.estadoDoacao | status}}">{{donativo.estadoAtivo.estadoDoacao  == 'NAO_ACEITO' ? 'NÃO ACEITO' : donativo.estadoAtivo.estadoDoacao}}</span>
					  {{donativo.nome}}
				  </a>
				</ul>
				<ul ng-show="donativosNtlist.length === 0 || !donativosNtlist" class="list-group">
					<a class="list-group-item">
						Nenhuma notificação
					</a>
				</ul>
			</div>
		</ul>
	</div notication-donativo>
</div>
